<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="NavigateEntities" connectionString="metadata=res://*/Nagivate.csdl|res://*/Nagivate.ssdl|res://*/Nagivate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Navigate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Navigate" connectionString="Data Source=localhost;Initial Catalog=Navigate;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="CCMASPSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="CCMASPSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="Navigate" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/CCM" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"/>
      </providers>
    </membership>  
  </system.web>
  <castle>
    <installers>
      <!-- NOTE: The current Service assembly must be listed first -->
      <install assembly="MEDSEEK.Navigate.UserManagementService" />

      <install assembly="MEDSEEK.Navigate.Framework.Microservices" />
      <!--<install assembly="MEDSEEK.Predict.Core" />-->
    </installers>
  </castle>
  <!--NOTE: Rember to add the [assembly: log4net.Config.XmlConfigurator] attribute to the current project's AssemblyInfo.-->
  <log4net>
    <appender name="File" type="log4net.Appender.FileAppender">
      <file value="MEDSEEK.Navigate.ListService.log" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %-5level] %logger: %message%newline%exception" />
      </layout>
    </appender>
    <appender name="Trace" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %5level] %logger: %message%newline%exception" />
      </layout>
    </appender>
    <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-4thread, %5level] %logger: %message%newline%exception" />
      </layout>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <backColor value="Red" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
    </appender>
    <root>
      <appender-ref ref="File" />
      <appender-ref ref="Trace" />
      <appender-ref ref="Console" />
      <level value="DEBUG" />
    </root>
    <logger name="MEDSEEK">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client></client>
    <extensions>
      <bindingExtensions>
        <add name="rabbitMQBinding" type="RabbitMQ.ServiceModel.RabbitMQBindingSection, RabbitMQ.ServiceModel" />
      </bindingExtensions>
      <bindingElementExtensions></bindingElementExtensions>
    </extensions>
    <bindings></bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>